.home{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.7fr;
    align-items: center;
    justify-items: center;
    height:100vh;
}

.logo{
    margin-top: 70px;
}

.startShopping{
    color: white;
    font-size: 28px;
    padding: 1% 7%;
    border-radius: 50px;
    background: rgb(74, 180, 233);
    border: #6d7bff solid 1px;
    box-shadow: 4px 4px 11px -1px rgba(0,0,0,0.49);
    -webkit-box-shadow: 4px 4px 11px -1px rgba(0,0,0,0.49);
    -moz-box-shadow: 4px 4px 11px -1px rgba(0,0,0,0.49);
}

.startShopping:hover{
    background:rgb(109, 203, 250);
}
